In [0]:
spark

In [0]:
df= spark.read.csv("/FileStore/tables/test1.csv", header= True, inferSchema= True)

In [0]:
df.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [0]:
df.filter("Salary >= 20000").show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
+---------+---+----------+------+

In [0]:
df.filter("Salary>= 20000").select(['Name','age']).show()

+---------+---+
|     Name|age|
+---------+---+
|    Krish| 31|
|Sudhanshu| 30|
|    Sunny| 29|
|     Paul| 24|
+---------+---+

In [0]:
df.filter("Salary>=20000").select(['Name','age']).show()

+---------+---+
|     Name|age|
+---------+---+
|    Krish| 31|
|Sudhanshu| 30|
|    Sunny| 29|
|     Paul| 24|
+---------+---+

In [0]:
df.filter((df["Salary"]<=20000) | (df["Salary"]>=15000)).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [0]:
df.filter(~(df['Salary']<=20000)).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
+---------+---+----------+------+

In [0]:
df.filter((df['Salary']>=20000) & (df['age']>=24)).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
+---------+---+----------+------+

In [0]:
df1=spark.read.csv("/FileStore/tables/test2.csv", header=True, inferSchema=True)

In [0]:
df1.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [0]:
df.join(df1, df.Name==df1.Name,"inner").show(truncate=False)

+---------+---+----------+------+---------+------------+------+
|Name     |age|Experience|Salary|Name     |Departments |salary|
+---------+---+----------+------+---------+------------+------+
|Krish    |31 |10        |30000 |Krish    |Data Science|10000 |
|Krish    |31 |10        |30000 |Krish    |IOT         |5000  |
|Krish    |31 |10        |30000 |Krish    |Big Data    |4000  |
|Sudhanshu|30 |8         |25000 |Sudhanshu|Data Science|20000 |
|Sudhanshu|30 |8         |25000 |Sudhanshu|IOT         |10000 |
|Sudhanshu|30 |8         |25000 |Sudhanshu|Big Data    |5000  |
|Sunny    |29 |4         |20000 |Sunny    |Data Science|10000 |
|Sunny    |29 |4         |20000 |Sunny    |Big Data    |2000  |
+---------+---+----------+------+---------+------------+------+

In [0]:
df.join(df1,['Name'],"inner").show(truncate=False)

+---------+---+----------+------+------------+------+
|Name     |age|Experience|Salary|Departments |salary|
+---------+---+----------+------+------------+------+
|Krish    |31 |10        |30000 |Data Science|10000 |
|Krish    |31 |10        |30000 |IOT         |5000  |
|Krish    |31 |10        |30000 |Big Data    |4000  |
|Sudhanshu|30 |8         |25000 |Data Science|20000 |
|Sudhanshu|30 |8         |25000 |IOT         |10000 |
|Sudhanshu|30 |8         |25000 |Big Data    |5000  |
|Sunny    |29 |4         |20000 |Data Science|10000 |
|Sunny    |29 |4         |20000 |Big Data    |2000  |
+---------+---+----------+------+------------+------+

In [0]:
df1.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [0]:
df.createOrReplaceTempView("Emp")
df1.createOrReplaceTempView("Dept")

In [0]:
spark.sql("select e.Name, d.Name, e.Salary, b.Departments from Emp a inner join Dept b on Emp.Name == Dept.Name").show(truncate=False)

+---------+---+----------+------+
|Name     |age|Experience|Salary|
+---------+---+----------+------+
|Krish    |31 |10        |30000 |
|Sudhanshu|30 |8         |25000 |
|Sunny    |29 |4         |20000 |
|Paul     |24 |3         |20000 |
|Harsha   |21 |1         |15000 |
|Shubham  |23 |2         |18000 |
+---------+---+----------+------+

In [0]:
spark.table("Emp").cache()
spark.table("Emp").count()

Out[33]: 6

In [0]:
spark.catalog.uncacheTable("Emp")